@import "../../QueryComponent/Style/index";

.number-counter{
  float: left;
  max-width:70%;
  margin-top: 4px;
  a.decrease-btn,
  a.increase-btn{
    color: #fff;
    background: #1874F0;
    border-radius: 50px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 50px;
    margin-top: 2px;
    float: left;
    font-size: 20px;
  }
  span.counter{
    background: #fff;
    line-height: 30px;
    border: solid 1px #E3E3E3;
    color: #5F5F5F;
    margin: 0 7px;
    float: left;
    padding: 0 15px;
    border-radius: 50px;
  }
  a.increase-btn{
    font-size:17px;
  }
}

.yes-btn, .yes-btn:focus{
  background:#1874F0;
  color:#fff; cursor:pointer;
  line-height:30px;
  padding:0 14px;
  margin-right:8px;
  margin-top:5px;
  margin-left: 5px;
  border-radius:50px;
  border:0;
  min-width:52px;
  text-align:center;
  font-size:14px;
  outline:none
}
