.standup-content{
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  padding: 4% 12% 2% 5%;
  font-family: Quicksand;
  font-weight: bold;
  color: #656565;
  span {
    font-size: 1.3em;
  }
  li {
    font-weight: bold;
    margin: 3% 0% 3% 3%;
  }
}
