.input-field{
  height: 6vh;
width: 45%;
margin-bottom: 2%;
padding: 2% 3.8%;
font-size: 80%;
border: solid 0.1em #e8e8e8;
font-family: Quicksand;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #181818;
border-radius: 15em;
outline: none;
box-shadow: 0 0 7px rgba(0,0,0,0.2);
}
// .input-field:focus{
//   border-left: solid 0.5em #05a9de;
//   outline: none;
//   border-radius: 2.5%;
// }
