
#table-dash {

  font-family: Quicksand;
  background: #2c3144;
}

#table-dash td, th {
 text-align: left;
}

.table-header-content{
  color: rgb(199, 199, 199);
}

.table-row-values{
  border-top:0px !important;
  color: rgb(199, 199, 199);
  font-weight: "bold";
  font-size: 16;
  padding: 8px;
}

.table-row {
display: flex;
flex-direction: column;
}

.table-row-seperator {
width: 70%;
border-radius: 5px;
align-self: center;
opacity: 0.1;
background-color: #c0c0c1;
border: solid 1px #c0c0c1;
}
