.newteam-form {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}
.addteam-button {
  color: #FFFFFF;
    background-color: #05a9de;
    opacity: 1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.addteam-button:hover {
  background-color: #3fbaa7;
    color: #FFFFFF;
    border-color: #3fbaa7;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
