$blue: rgba(0, 213, 189, 0.7);
$base: #fff;

.box {
  display: grid;
  height: 100%;
  width:100%;
  grid-template-rows: 1fr 1fr 2fr
}
.heading {
  display: flex;
  justify-content: flex-start;
  position: relative;
  font-family: Quicksand;
  width: 100%;
  background: #3a3e57;
  color: #c7c7c7;
  flex-grow: 1;
  height: 100%;
}

.upper{
  align-items: center;
  font-size: 2.1em;
  font-weight: 1000;
  width: 100%;
  height: 50%;
  background: rgb(0, 163, 191);
}

.num {
  position: relative;
  font-size: 40px;
  color: #c7c7c7;
  background: #2c3145;
  padding-left: 0.5em;
  font-family: Quicksand;
  height: 100%;
}


.blue {
color: $blue;
}
