.policy-button {
  position:absolute;
  bottom:20px;
  right:40%;
  left:50%;
  margin-left:-150px;
  border: none;
  font-family: Quicksand;
  font-weight: bold;
  font-style: normal;
  color: #636363;
  font-size: 0.8em;
  }
  a:hover {
    text-decoration: none;
  }
