.label-color {
  float: left;
  font-family: Quicksand;
 font-size: 120%;
 font-weight: bold;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #636363;
}
