
.message-box {
  .yes-btn{
margin-top: 0.7em;
margin-left: auto;
margin-right: 0.5em;
border-radius: 5px;
border-color: solid;
padding: 0.4em 0.8em;
background-color: #1CA3E7;
outline: none;
border-style: none;
box-sizing: border-box;
color: white;
  }
}
.text-input-box {
  border-radius: 5px;
      width: 90%;
      height: 3em;
      background-color: #ffffff;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      min-width: 0;
      border-color: #fff;
      border-style: solid;
      box-sizing: border-box;
      padding: 15px;
}
.text-input-box:focus {
  outline: none;
}
