.card-appear {
  opacity: 0.01;
  transform: translateY(40px);
}

.card-appear.card-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.card-enter {
  opacity: 0.01;
  transform: translateY(40px);
}

.card-enter.card-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.card-exit {
  opacity: 1;
  transform: translateY(0px);
}

.card-exit.card-exit-active {
  opacity: 0.01;
  transform: translateY(40px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.card-leave {
  opacity: 1;
  transform: translateY(0px);
}

.card-leave.card-leave-active {
  opacity: 0.01;
  transform: translateY(40px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
