.teamname-details {
  font-family: Quicksand;
  font-weight: bold;
}
.no-teams {
  font-size: 2em;
  color: #fff;
  background-color: #ccc;
}
.list-teamcards-icons {
  margin-left: 0.3em;
}
.noteams-text {
  padding: 30px 20px;
  font-weight: bold;
  font-family: Quicksand;;
}
