.gradeblock{
  color: #c7c7c7;
      text-align: center;
}

.gradevalue{
    font-size: 3.6em;
    font-weight: bold;
    color: #f93535;
    line-height: 0.6em;
}

.gradetitle{
  font-size: 1.1em;
  font-weight: 600;
  font-family: Quicksand;
}
